@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.mesh-bg {
  background: url("/public/Whangaehu.png") no-repeat center center fixed !important;
}

/* div[data-slot="input-wrapper"] {
  border-radius: 0.5rem !important;
  border: 1px solid #e2e8f0 !important;
  box-shadow: none !important;
}
label[data-slot="label"] {
  border-radius: 0.875rem !important;
  font-weight: 500 !important;
} */
